# Folder ignores
__pycache__/
.chroma/
.venv/
vivino-api/node_modules/
vivino-api/output/
vivino-api/.vscode/
winenara_scrapy/assets/
data/wine_and_more/feature_img/
data/wine_and_more/ocr_results/
data/wine_and_more/raw_ocr_results/

# File ignores
app.py
pip.txt
test.ipynb
secrets.ini
wine_crawler.ipynb
chromedriver.exe